:root {
  --background-color: #e5e5e5;
  --main-color: #212121;
  --focus-color: #2196f3;
}
body {
  font-family: "Roboto";
  color: var(--main-color);
 }
a {
  text-decoration: none;
  color: var(--main-color);
}
ul {
  list-style: none;
}
.hero-button {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
    background:     #188CE8;
    color: #ffffff);
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo:hover,
.logo:focus{
  color: var(--focus-color);
}
.web {
  color: var(--focus-color);
}
.link {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link :hover,
.link :focus {
  color: var(--focus-color);
}
.presence {
  color: #2196F3;
}
.link-contact{
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

}
.link-contact :hover,
.link-contact :focus {
  color: var(--focus-color);
}
.hero {
  background: #2f303a;
}
.hero-text {
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.about-us-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-us-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.job-title {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background:  #F5F4FA;
}
.team-title {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
footer {
  background: #2f303a;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--focus-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color:var(--focus-color)
}
.profile-button {
    background: #F5F4FA;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.profile-button:hover,
.profile-button:focus {
    background: #2196F3;
    color: #FFFFFF;
}
.portfolio-list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-list-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}